<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.bucketlistapp993062" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>bucketListApp</name>
  <description>
       A hybrid app made with Ionic, Node, Restify and MongoDB
    </description>
  <author email="zaylong@gmail.com" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="phonegap-version" value="3.3.0" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>